<a href="https://colab.research.google.com/github/kundalemegha-max/Python-Assignment--1/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![INTTRVU_logo_Jupyter_notebook.jpg](attachment:648ea659-7592-45c1-bd76-18800c6768cd.jpg)

In [ ]:
 ### Please name your assignment file using the following format: Your Name_Assignment_Assignment Number. EX: INTTRVU_Assignment_1

# kindly perform coding in the blank cells provided below the questions. Once completed, please share this python file for review on mentor@inttrvu.ai

### 1. Create a list with numbers 1 to 10 in it ([1,2,3….10]) Write a for loop on this list to sum up all numbers in the list except 5 and 7. Print the result

In [ ]:
numbers=list(range(1,11))  #creates a list [1,2,3,4,5,6,7,8,9,10]
total_sum=0
for num in numbers:
  if num!=5 and num!=7:
    total_sum+=num
    print(total_sum)

1
3
6
10
16
24
33
43

### 2. Write a while loop to create a list with numbers from 1 to 100. When inserting new number in the list, skip every number which is divisible by 3. Print the result. Tip: To check whether number is divisible by 3 you can use % operator

In [ ]:
numbers_list = []
current_number = 1

while current_number <= 100:
    if current_number % 3 != 0:  # Check if the number is NOT divisible by 3
        numbers_list.append(current_number)
    current_number += 1

print(numbers_list)

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25, 26, 28, 29, 31, 32, 34, 35, 37, 38, 40, 41, 43, 44, 46, 47, 49, 50, 52, 53, 55, 56, 58, 59, 61, 62, 64, 65, 67, 68, 70, 71, 73, 74, 76, 77, 79, 80, 82, 83, 85, 86, 88, 89, 91, 92, 94, 95, 97, 98, 100]

### 3. Write a program that prints the first 10 natural numbers.

In [ ]:
print("the first 10 natural numbers:")
for i in range (1,11):
  print(i)

the first 10 natural numbers:
1
2
3
4
5
6
7
8
9
10

### 4.Write a python code to print the summation of all the numbers from 1 to 100

In [ ]:
total_sum=0
for i in range(1,101):
  total_sum+=1
  print(f" the sum numbers from 1 to 100 is:{total_sum}")

 the sum numbers from 1 to 100 is:1
 the sum numbers from 1 to 100 is:2
 the sum numbers from 1 to 100 is:3
 the sum numbers from 1 to 100 is:4
 the sum numbers from 1 to 100 is:5
 the sum numbers from 1 to 100 is:6
 the sum numbers from 1 to 100 is:7
 the sum numbers from 1 to 100 is:8
 the sum numbers from 1 to 100 is:9
 the sum numbers from 1 to 100 is:10
 the sum numbers from 1 to 100 is:11
 the sum numbers from 1 to 100 is:12
 the sum numbers from 1 to 100 is:13
 the sum numbers from 1 to 100 is:14
 the sum numbers from 1 to 100 is:15
 the sum numbers from 1 to 100 is:16
 the sum numbers from 1 to 100 is:17
 the sum numbers from 1 to 100 is:18
 the sum numbers from 1 to 100 is:19
 the sum numbers from 1 to 100 is:20
 the sum numbers from 1 to 100 is:21
 the sum numbers from 1 to 100 is:22
 the sum numbers from 1 to 100 is:23
 the sum numbers from 1 to 100 is:24
 the sum numbers from 1 to 100 is:25
 the sum numbers from 1 to 100 is:26
 the sum numbers from 1 to 100 is:27
 the sum numbers from 1 to 100 is:28
 the sum numbers from 1 to 100 is:29
 the sum numbers from 1 to 100 is:30
 the sum numbers from 1 to 100 is:31
 the sum numbers from 1 to 100 is:32
 the sum numbers from 1 to 100 is:33
 the sum numbers from 1 to 100 is:34
 the sum numbers from 1 to 100 is:35
 the sum numbers from 1 to 100 is:36
 the sum numbers from 1 to 100 is:37
 the sum numbers from 1 to 100 is:38
 the sum numbers from 1 to 100 is:39
 the sum numbers from 1 to 100 is:40
 the sum numbers from 1 to 100 is:41
 the sum numbers from 1 to 100 is:42
 the sum numbers from 1 to 100 is:43
 the sum numbers from 1 to 100 is:44
 the sum numbers from 1 to 100 is:45
 the sum numbers from 1 to 100 is:46
 the sum numbers from 1 to 100 is:47
 the sum numbers from 1 to 100 is:48
 the sum numbers from 1 to 100 is:49
 the sum numbers from 1 to 100 is:50
 the sum numbers from 1 to 100 is:51
 the sum numbers from 1 to 100 is:52
 the sum numbers from 1 to 100 is:53
 the sum numbers from 1 to 100 is:54
 the sum numbers from 1 to 100 is:55
 the sum numbers from 1 to 100 is:56
 the sum numbers from 1 to 100 is:57
 the sum numbers from 1 to 100 is:58
 the sum numbers from 1 to 100 is:59
 the sum numbers from 1 to 100 is:60
 the sum numbers from 1 to 100 is:61
 the sum numbers from 1 to 100 is:62
 the sum numbers from 1 to 100 is:63
 the sum numbers from 1 to 100 is:64
 the sum numbers from 1 to 100 is:65
 the sum numbers from 1 to 100 is:66
 the sum numbers from 1 to 100 is:67
 the sum numbers from 1 to 100 is:68
 the sum numbers from 1 to 100 is:69
 the sum numbers from 1 to 100 is:70
 the sum numbers from 1 to 100 is:71
 the sum numbers from 1 to 100 is:72
 the sum numbers from 1 to 100 is:73
 the sum numbers from 1 to 100 is:74
 the sum numbers from 1 to 100 is:75
 the sum numbers from 1 to 100 is:76
 the sum numbers from 1 to 100 is:77
 the sum numbers from 1 to 100 is:78
 the sum numbers from 1 to 100 is:79
 the sum numbers from 1 to 100 is:80
 the sum numbers from 1 to 100 is:81
 the sum numbers from 1 to 100 is:82
 the sum numbers from 1 to 100 is:83
 the sum numbers from 1 to 100 is:84
 the sum numbers from 1 to 100 is:85
 the sum numbers from 1 to 100 is:86
 the sum numbers from 1 to 100 is:87
 the sum numbers from 1 to 100 is:88
 the sum numbers from 1 to 100 is:89
 the sum numbers from 1 to 100 is:90
 the sum numbers from 1 to 100 is:91
 the sum numbers from 1 to 100 is:92
 the sum numbers from 1 to 100 is:93
 the sum numbers from 1 to 100 is:94
 the sum numbers from 1 to 100 is:95
 the sum numbers from 1 to 100 is:96
 the sum numbers from 1 to 100 is:97
 the sum numbers from 1 to 100 is:98
 the sum numbers from 1 to 100 is:99
 the sum numbers from 1 to 100 is:100

### 5.Write a Python program to find the common elements between two lists.
list1 = [11,2,190,43,23,65,19] list2 = [12,11,121,190,43,23,76,190]

In [ ]:
list1=[11,2,190,43,23,65,19]
list2=[12,11,121,190,43,23,76,190]
common_elements=[]
for i in list1:
  if i in list2:
    common_elements.append(i)
    print(common_elements)

[11]
[11, 190]
[11, 190, 43]
[11, 190, 43, 23]

### 6.Write a python code to create separate lists of Even and Odd numbers from a list. [21,44,22,878,55,90,17,68,69,91]

In [ ]:
my_list=[21,44,22,878,55,90,17,68,69,91]
even_num=[]
odd_num=[]
for i in my_list:
  if i%2==0:
    even_num.append(i)
    print(even_num)
  else:
      odd_num.append(i)
      print(odd_num)

[21]
[44]
[44, 22]
[44, 22, 878]
[21, 55]
[44, 22, 878, 90]
[21, 55, 17]
[44, 22, 878, 90, 68]
[21, 55, 17, 69]
[21, 55, 17, 69, 91]

### 7.Calculate the sum of all numbers in a list using a loop. [21,44,767,98,37]

In [ ]:
numbers=[21,44,76,767,98,37]
total_sum=0
for i in numbers:
  total_sum+=i
  print(total_sum)

21
65
141
908
1006
1043

### 8. Write a python code to check if a number is positive, negative, or zero.

In [ ]:
number=float(input("enter a number:"))
if number>0:
  print("the number is positive")
elif number==0:
 print("the number is zero")
else:
      print("the number is negative")

enter a number:12
the number is positive

### 9. Find the length of the longest word in a string: ‘Data Science and Machine Learning’

In [ ]:
string="data science and machine learning"
words=string.split()
longest_word=max(words,key=len)
print(f"the longest word in the string is:{longest_word}")

the longest word in the string is:learning

### 10.Write a program to calculate the sum of squares of all numbers from 1 to 10 using a while loop.

In [ ]:
number=1
sum_of_square=0
while number<=10:
  #calculate the square of numbers
  square=number*number
  #add the square of total sum
  sum_of_square=sum_of_square+square
  #increment the number for the next iteration
  number=number+1

print("the sum of square of number from 1 to 10 is:",sum_of_square)

the sum of square of number from 1 to 10 is: 385